* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}


/* debug */
.debug .row-nav{
    background-color: rgb(133, 237, 249);
    padding: 10px;
}
.debug .col-nav{
    background-color: goldenrod;
    border: 1px dashed black;
    padding: 5px;
}
.debug .container{
    padding: 30px;
}
.debug .container-header{
    background-color: blue;
}
.debug .square-header{
    background-color: violet;
    padding: 150px;
}

.debug .container-white{
    background-color: white;
}
.debug .container-lightgray{
    background-color: lightgray;
} 


/* proprietà */
.container{
    display: flex;
    justify-content: center;
}

.row-nav{
    display: flex;
    justify-content: center;
}
.col-nav{
    flex-basis: 15%;
}
.row-nav > .col-30{
    flex-basis: 30%;
    text-align: center;
}
.row-nav > .col-end{
    text-align: end;
}
.square-header{
    flex-basis: 40%;
}
