* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

.container {
	max-width: 900px;
	margin: 0 auto;
}

/* debug */
.debug .row{
    background-color: rgb(133, 237, 249);
    padding: 10px;
}
.debug .col{
    background-color: goldenrod;
    border: 1px dashed black;
    padding: 5px;
}
.debug .container-header{
    background-color: blue;
    padding: 30px;
}
.debug .square-header{
    background-color: violet;
    padding: 200px;
}


/* proprietà */
.row{
    display: flex;
    justify-content: center;
}
.col{
    flex-basis: 15%;
}
.row > .col-30{
    flex-basis: 30%;
    text-align: center;
}
.row > .col-end{
    text-align: end;
}
.container-header{
    display: flex;
    justify-content: center;
}
.square-header{
    flex-basis: 40%;
}
