*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


img{
    max-width: 100%;
}

/* debug */
.debug .nav{
    background-color: lightblue;
    padding: 10px;
}

.debug .col-nav{
    border: 2px dashed black;
    background-color: goldenrod;
    padding: 8px;
}

.debug .container-header{
    background-color: blue;
}
.debug .container{
    padding: 200px;
}
.debug .square-header{
    background-color: violet;
    padding: 15%;
}

.debug .container-white{
    background-color: white;
}
.debug .container-lightgray{
    background-color: lightgray;
}
.debug .col{
    padding: 15%;
    border: 2px dashed black;
}
.debug .squareone{
    background-color: rgb(24, 157, 240);
}
.debug .squaretwo{
    background-color: pink;
}

/* proprietà */

/* barra di navigazione */
.row-nav{
    display: flex;
    justify-content: center;
}
.row-nav > .col-nav{
    flex-basis: 10%;
}
.row-nav > .col-30{
    flex-basis: 40%;
    text-align: center;
}
.row-nav > .col-end{
    text-align: end;
}
.container-header{
    display: flex;
    justify-content: center;
}
.square-header{
    flex-basis: 50%;
}

/* contenitori */

.container > .row{
    display: flex;
    justify-content: center;
}
.container .squareone{
    flex-basis: 50%;
}
.container .squaretwo{
    flex-basis: 10%;
}

