*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


img{
    max-width: 100%;
}

/* debug */
.debug .nav{
    background-color: lightblue;
    padding: 10px;
}

.debug .col-nav{
    border: 2px dashed black;
    background-color: goldenrod;
    padding: 8px;
}

.debug .container-header{
    background-color: blue;
}
.debug .container{
    padding: 200px;
}
.debug .square-header{
    background-color: violet;
    padding: 15%;
}

.debug .container-white{
    background-color: white;
}
.debug .container-lightgray{
    background-color: lightgray;
}
.debug .col{
    padding: 15%;
    border: 2px dashed black;
}
.debug .squareone{
    background-color: rgb(24, 157, 240);
}
.debug .squaretwo{
    background-color: pink;
}
.debug .containerbig{
    padding: 200px;
}
.debug .square-big{
    background-color: green;
    padding: 40%;
}
.debug .container-black{
    background-color: rgb(18, 18, 18);
}
.debug .row-foote{
    padding: 150px;
}
.debug .col-footer{
    padding: 50px;
}
.debug .squarepink{
    background-color: lightpink;
    border: 2px dashed black;
}
.debug .squaregreen{
    background-color: lightseagreen;
    border: 2px dashed white;
}
.debug .containersmall{
    background-color: rgb(18, 18, 18);
    padding: 40px;
}
.debug .row-small{
    background-color: aquamarine;
    padding: 15px;
}
.debug .col-small{
    border: 2px dashed white;
    background-color: pink; 
    padding: 2px;
}


/* proprietà */

/* barra di navigazione */
.row-nav{
    display: flex;
    justify-content: center;
}
.row-nav > .col-nav{
    flex-basis: 10%;
}
.row-nav > .col-30{
    flex-basis: 40%;
    text-align: center;
}
.row-nav > .col-end{
    text-align: end;
}
.container-header{
    display: flex;
    justify-content: center;
}
.square-header{
    flex-basis: 50%;
}

/* contenitori */
.row{
    display: flex;
    justify-content: center;
}
.container .squareone{
    flex-basis: 50%;
}
.container .squaretwo{
    flex-basis: 10%;
}

.row .square-big{
    flex-basis: 80%;
}
.row-footer{
    justify-content: center;
    min-height: 400px;
    align-items: stretch center;
}

.col-footer{
    flex-basis: calc(80% / 5);
}
.row-footer > .squarepink{
   flex-grow: 2;
}

.row-small{
    justify-content:space-between;
}